{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2>Login</h2>
<form action="{{ url_for('auth.login') }}" method="POST">
    <input type="text" name="name" placeholder="Enter name" required oninput="this.value = this.value.toLowerCase()">
    <input type="password" name="password" placeholder="Enter password" required>
    <button type="submit">Login</button>
</form>
