{% extends 'base.html' %}
{% block content %}
<h1>Secret Santa</h1>

<h2>Add New Member</h2>
<form action="{{ url_for('add_member') }}" method="POST">
    <input type="text" name="name" placeholder="Enter name" required>
    <button type="submit">Add Member</button>
</form>

<h2>Participants</h2>
<ul>
{% for participant in participants %}
    <li>{{ participant[1] }}</li>
{% endfor %}
</ul>

<h2>Start a New Run</h2>
<form action="{{ url_for('start_new_run') }}">
    <button type="submit">Generate New Assignments</button>
</form>
{% endblock %}
